*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
color: red;
}
 
.header h1{
    color: blue;
}

.header ul{

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}